<% provide(:title, "Feeds") %> 
<div class="row">
	<div class="span7">
		<ul class="breadcrumb">
		  <li><%= link_to "Parent Companies", parent_companies_path %> <span class="divider">/</span></li>
		  <li><%= link_to "Companies", companies_path %>
				<span class="divider">/</span></li>
		  <li class="active"><%= "Feeds" %></li>
		</ul>
	</div>
</div>

<h3>Feeds</h3>

<%= render 'shared/feeds'%>

<br />
