<% provide(:title, "Signup Confirmation") %> 
<div class="span4">
  <h1>Thank you!</h1>
  <p>We have received your request to sign up. All new users must be approved by an admin,
  	so you will be notified via email when your account is active.
  </p>
  <p>Back to <%= link_to 'Home', root_path %></p>
</div>
