<div class="hero-unit span4">
  <h1>Welcome!</h1>
  <% if signed_in? %>
	  <p>Please use the menu above to access content</p>
	<% else %>
		<p>Please sign up or sign in to access carrier data</p>
	  <div class="row">
	    <p>
	      <div class="span2">
	        <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-large center" %>
	      </div>
	      <div class="span2">
	        <%= link_to "Sign In", signin_path, class: "btn btn-primary btn-large" %>
	      </div>
	    </p>
	  </div>
	<% end %>
</div>